SECRET_KEY; str
SERVER_DEBUG; bool
DB_URL; str
SECRET_KEY; str

ROOT_PASSWORD; str 
ROOT_CODE; str

ALGORITHM; str 
ACCESS_TOKEN_EXPIRE_MINUTES; int
REFRESH_TOKEN_EXPIRE_DAYS; int


TELEGRAM_BOT_CLIENT_ID; int
